{% extends 'base.twig' %}

{% block div %}
    <main style="background-color: #cffab4;">
        <section>
            <p>Здесь будет информация о кормах.</p>
        </section>
    </main>
{% endblock %}