{% extends 'base.twig' %}

{% block div %}
    <div>
        <section>
            <h1>Добро пожаловать на внутренний сайт зоопарка</h1>
            <p>Здесь вы найдете информацию о животных, вольерах и кормах.</p>
        </section>
    </div>
{% endblock %}